//Colors

$gray-100: #FAFAFA;
$gray-300: #E9E9E9;
$gray-500: #A8A8A8;
$gray-700: #707070;
$gray-800: #333333;
$gray-900: #222222;

$red-100: #F6D0D1;
$red-300: #ED686B;
$red-500: #EC1C24;
$red-700: #9A0000;
$red-900: #68181E;

$black-20p: rgba(#000, 0.2);
$black-50p: rgba(#000, 0.5);

$black-gradient-1: linear-gradient(90deg, #222222 0%, #2E2E2E 100%);
$black-gradient-2: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);

//Fonts

$font-family: 'Open Sans', sans-serif;
$font-weight: 700;

$font-family-sans-serif: 'Open Sans', sans-serif;